.featured {
    height: 300px;
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--white-color);
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
}

/* left featured section _____________________ */
.left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
i {
    font-weight: 300;
}
.searchbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-color);
    border-radius: 5px;
    width: 80%;
}
.search-input {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}
.search-input img {
    width: 20px;
    height: 20px;
    margin: 5px;
}
.search-input input {
    border: none;
    outline: none;
    width: 540px;
}

.searchbar button {
    width: 110px;
    padding: 0px 5px;
    height: 35px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    background-color: var(--secondary-color);
    color: var(--white-color);
    cursor: pointer;
}
.populares button {
    color: var(--white-color);
    background-color: transparent;
    border: 1px solid var(--white-color);
    padding: 5px 10px;
    margin: 0px 3px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}
 
/* right featured section _____________________ */
.right {
    height: 100%;
}
/* .right img {
    width: 400px;
    height: 600px;
    background-size: cover;
} */