.navBar {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: 0.5s all ease;
  margin-bottom: 7px;

  .links{
    gap: 10%;

    span{
      color: white;
    }
  }
  

  &.active {
    background-color: white;
    color: black !important;

    .links span{
      color: var(--secondary-color);
    }
  }

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;

    .burger{
      padding: 1em 1.5em 0 2em;
      margin-top: 10px;

      .generals{
        display: flex;
        flex-direction: column;
        gap: 15px;
        border-bottom: 1px solid gray;
        margin-bottom: 30px;
        padding-bottom: 30px;
      }
      .menuLink {
        color: var(--secondary-color);
      }

      .categories {
        width: 95%;
        padding: 10px 0px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
        color: gray;
        font-weight: 300;
        font-family: "Montserrat", sans-serif;
    
        
      }
    }


    .logo {
      font-size: 2em;
      font-weight: bold;

      .text{
        color: var(--secondary-color);
      }

    }
    .links {
      display: flex;
      align-items: center;
      gap: 24px;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      margin-right: 5%;

      span {
        white-space: nowrap;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        position: relative;

        img {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          object-fit: cover;
        }

        .options {
          position: absolute;
          top: 30px;
          right: 0;
          padding: 20px;
          background-color: white;
          border-radius: 10px;
          z-index: 999;
          border: 1px solid lightgrey;
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 200px;
          font-weight: 300;
          color: gray;
        }
      }

      button {
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid white;
        background-color: transparent;
        cursor: pointer;

        &:hover {
          background-color: #1dbf73;
          border-color: #1dbf73;
        }
      }
    }
  }

  hr {
    width: calc(100% - 2px);
    height: 0;
    border-top: 0.5px solid #ebe9e9;
    border-bottom: 0.5px solid #ebe9e9;
  }


    /* ------- TOGGLE BURGER MENU ------- */

  /* Position and sizing of burger button */
  .bm-burger-button {
    position: fixed;
    width: 5%;
    height: 4%;
    left: 4%;
    top: 5%;
  }



  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */

  .bm-menu-wrap {
    position: fixed;
    height: 95%;
  }

  /* General sidebar styles */
  .bm-menu {
    background: var(--white-color);
    margin-top: 10px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .bm-menu::-webkit-scrollbar {
    display: none;
  }



  /* Wrapper for item list */
  .bm-item-list {
    color: var(--secondary-color);
    padding: 0.8em;
    display: flex;
    flex-direction: row;
  }

  /* Individual item */
  .bm-item {
    color: var(--secondary-color);
    text-decoration: none;
  }

  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    margin-top: 10px;
  }

}


