.SingleService{
    display: flex;
    justify-content: center;
    
    .container{
        width: 95%;
        padding: 1.5em 0;
        display: flex;
        gap: 2.5em;

        .left {
            flex: 2;
            display: flex;
            flex-direction: column;
            gap: 1.25em;
      
            .user {
              display: flex;
              align-items: center;
              gap: 10px;
      
              .pp {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                object-fit: cover;
              }
      
              span {
                font-size: 14px;
                font-weight: 500;
              }
      
              .stars {
                display: flex;
                align-items: center;
                gap: 5px;
      
                img {
                  height: 14px;
                  width: 14px;
                }
      
                span {
                  font-size: 14px;
                  font-weight: bold;
                  color: #ffc108;
                }
              }
            }
      
            .slider {
              background-color: #F5F5F5;
              img {
                max-height: 400px;
                object-fit: contain;
              }
            }
      
            .seller {
              margin-top: 50px;
              display: flex;
              flex-direction: column;
              gap: 20px;
      
              .user {
                display: flex;
                align-items: center;
                gap: 20px;
      
                img {
                  width: 100px;
                  height: 100px;
                  border-radius: 50%;
                  object-fit: cover;
                }
      
                .info {
                  display: flex;
                  flex-direction: column;
                  gap: 10px;
      
                  .stars {
                    display: flex;
                    align-items: center;
                    gap: 5px;
      
                    img {
                      height: 14px;
                      width: 14px;
                    }
      
                    span {
                      font-size: 14px;
                      font-weight: bold;
                      color: #ffc108;
                    }
                  }
                }
              }
      
              .box {
                border: 1px solid lightgray;
                border-radius: 5px;
                padding: 17px;
                margin-top: 17px;
      
                .items {
                  display: flex;
                  justify-content: space-between;
                  flex-wrap: wrap;
      
                  .item {
                    width: 280px;
                    display: flex;
                    flex-direction: column;
                    gap: 7px;
                    margin-bottom: 15px;
      
                    .title {
                      font-weight: 300;
                    }
                  }
                }
      
                hr {
                  height: 0;
                  border: 0.5px solid lightgray;
                  margin-bottom: 15px;
                }
              }
            }
      
            
          }

        .right{
            flex: 1;                                         
        }
    }
}