body {
  margin: 0 auto;
}

*{
  text-decoration: none;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
    --primary-color: rgb(253, 120, 120);
    --secondary-color: rgb(0, 27, 69);
    --button-color: rgb(184, 34, 34);
    --links-color: rgb(184, 34, 34);
    --white-color: rgb(255 255 255);
    --black-color: rgb(46, 46, 46);
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
/* BUTTONS */ 

button{
  background-color: var(--button-color);
}

/* LINKS */

.redLinks{
  color: var(--links-color);
}
.blueLinks{
  color: var(--secondary-color);
}