body {
  margin: 0 auto;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
    --primary-color: rgb(130 148 196);
    --secondary-color: rgb(172 177 214);
    --tertiary-color: rgb(219 223 234);
    --other-color: rgb(255 234 210);
    --links-color: rgb(107 129 190);
    --white-color: rgb(255 255 255);
    --black-color: rgb(38 38 38);
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: transparent;
    border-color: var(--white-color);
    cursor: pointer;
    transition: 0.5s;
    color: var(--white-color);
}
button:hover {
    background-color: var(--links-color);
}
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  