/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  margin: 0 auto;
}

*{
  text-decoration: none;
}

h1{
  font-size: 2em;
}
h2{
  font-size: 1.75em;
}
h3{
  font-size: 1.50em;
}
h4{
  font-size: 1.35em;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --primary-color: rgb(253, 185, 165);
  --secondary-color: rgb(0, 27, 69);
  --button-color: rgb(215, 46, 46);
  --links-color: rgb(215, 46, 46);
  --white-color: rgb(255 255 255);
  --black-color: rgb(46, 46, 46);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



